<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="maddytry1.Properties.Settings.DBAS12ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\DBAS12.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>